	<navigation>
		<div class="navigation">
			<ul class="link-list">

				<a href="/">
					<li class="list">
						<span>Home</span>
					</li>
				</a>
				<a href="/projects">
					<li class="list">
						<span>Projects</span>
					</li>
				</a>
				<a href="/about">
					<li class="list">
						<span>About</span>
					</li>
				</a>
				
				<a href="/contact">
					<li class="list">
						<span>Contact</span>
					</li>
				</a>
			</ul>
		</div>
	</navigation>