<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Portfolio page of Philipp Dawid"> 
        <link rel="preload" href="/fonts/Montserrat-Regular.ttf" as="font" type="font/ttf" crossorigin>    
        <link rel="preload" href="/fonts/Vollkorn-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link href="/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Vollkorn&display=swap" rel="stylesheet">
        <title>Philipp Dawid Portfolio</title>
    </head>

    <body>

        <div>

                {{{body}}}

        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>