<!DOCTYPE html>

<head>
    <title>Philipp Dawid Portfolio</title>
    <link href="/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="main-container">
        <img class="img" src="../../public/color.jpg" alt="">
        {{{body}}}

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/script.js"></script>
</body>