<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="#e30613"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Portfolio page of Philipp Dawid">                
        <link href="/styles.css" rel="stylesheet">
        <link rel="preload" as="image" href="./images/color.jpg" />
        <link rel="preload" as="image" href="./images/colorSmall.jpg" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>Philipp Dawid Portfolio</title>
    </head>

    <body>

        <div>

            {{{body}}}

        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/script.js"></script>
    </body>
</html>