
<header class="header">
	<navigation>
	    <div class="navigation">
			<ul class="link-list">
				<a href="/">
					<li class="list">
						<span>Home</span>
					</li>
				</a>
				<a href="/projects">
					<li class="list">
						<span>projects</span>
					</li>
				</a>
				
				<a href="/about">
					<li class="list">
						<span>about</span>
					</li>
				</a>
			</ul>

			<div class="intro-text">	
				<h1 class="header1">
					<span>Contact</span>
				</h1>
			</div>
		</div>
	</navigation>
</header>

    <section class="section">
        <article>
            Find my code and my latest projects on
				<a
			        class="link-github"
			        href="https://github.com/Phil-boter"
			        target="_blank"
			        rel="noopener"
			    >Github
                </a>
		    If you are interested in my educational background and
			   professional experience visit my
			    <a
			        class="link-linkedIn"
			        href="https://www.linkedin.com/in/philipp-dawid-759793206/"
			        target="_blank"
			        rel="noopener"
			    >LinkedIn
               </a>
		    profile or download my
		        <a
			        class="link-cv"
			        href="/images/cv-eng.pdf"
			        download="CV"
			        target="_blank"
					rel="noopener"
				>CV
                </a>. 
            Interested in working with me? Feel free to
				<a class="link-mailto" href="mailto:philipp_dawid@web.de" rel="noopener"
				>reach out
                </a
				>.
		</article>	
    </section>