<header class="header">
	<div class="intro-text">	
		{{> navigation}}
        {{> header}}
	</div>
</header>

    <section class="section">
        <article>
			{{#contact}}
            Find my code and my latest projects on
				<a
			        class="link-github"
			        href={{github}}
			        target="_blank"
			    >Github
                </a>
		    If you are interested in my educational background and
			   professional experience visit my
			    <a
			        class="link-linkedIn"
			        href={{linkedIn}}
			        target="_blank"
			    >LinkedIn
               </a>
		    profile or download my
		        <a
			        class="link-cv"
			        href={{cv}}
			        download="CV"
			        target="_blank"
				>CV
                </a>. 
            Interested in working with me? Feel free to
				<a class="link-mailto" href={{email}} rel="noopener"
				>reach out
                </a
				>.
				{{/contact}}
		</article>	
    </section>