
	<header class="header">
		<div class="intro-text">
			<h1>
				<span>philipp</span>
			</h1>
			<h1>
				<span>dawid</span>
			</h1>
		</div>

	</header>

		<div class="link-container">
			<ul class="link-list">
				<a href="/about">
					<li>
						<span>About</span>
					</li>
				</a>
				<a href="/projects">
					<li>
						<span>Projects</span>
					</li>
				</a>
				<a href="/contact">
					<li>
						<span>Contact</span>
					</li>
				</a>
			</ul>
		</div>

	<section class="section">

		<div class="page2 intro-text">
			<h1><span>Welcome</span></spa></h1>
            <p>to my Portfolio</p>
		</div>
		<img id="main-image" src="/images/tour1000.jpg" alt="picture of hiker" /> 
	</section>


        