
		<header>
			<!-- First container -->
			<div class="container container_solid">
				<div class="title_wrapper header-text">
					<h1 class="scrollHeader">Philipp Dawid</h1>
				</div>
			</div>

			<!-- Second container -->
			<div class="container container_image" aria-hidden="true">
				<div class="title_wrapper header-text">
					<h1 class="scrollPortfolio">
						Junior&nbsp;&nbsp;Full stack&nbsp;&nbsp;Web Developer
					</h1>
				</div>
			</div>
		</header>

		<section class="text" data-index="2" data-page="section">
			<h2>About me:</h2>
			<p>
				I am a junior full stack web developer with a background in
				foodindustry and automotive service. Find my code and my latest
				projects on
				<a
					class="link-github"
					href="https://github.com/Phil-boter"
					target="_blank"
					>Github</a
				>
				If you are interested in my educational background and
				professional experience Visit my
				<a
					class="link-linkedIn"
					href="https://www.linkedin.com/in/philipp-dawid-759793206/"
					target="_blank"
					>LinkedIn</a
				>
				profile or download my
				<a
					class="link-cv"
					href="/images/cv-eng.pdf"
					download="CV"
					target="_blank"
					>CV</a
				>. Interested in working with me? Feel free to
				<a class="link-mailto" href="mailto:philipp_dawid@web.de"
					>reach out</a
				>.
			</p>

			<p>
				I began my professional career with an apprenticeship as a
				brewer, where I subsequently also completed my master's degree
				at the Technical University of Berlin.<br />
				After that I worked for the ARWE Group, until then europe's
				largest company in automotive service, as team leader and later
				on as quality manager.<br />
				When the group went bankrupt during the Corona crisis, I was now
				able to consistently realise my long-held wish for a
				reorientation. To realise my long-cherished wish I had already
				gained my first experience of coding at CodeCademy.com and was
				sure that coding would be my future. <br />When I was offered
				the chance to attend a bootcamp at Spiced Academy to become a
				full stack web developer, I took it.<br />
				In this intensive 12 week course I dived into the depths of
				JavaScript. At Spiced Academy I built my first full stack web
				applications using third party APIs, frontend frameworks like
				React.js and Vue.js and backend like Express. So please have a
				look at some of my code on
				<a
					class="link-github"
					href="https://github.com/Phil-boter"
					target="_blank"
					>Github</a
				>.
			</p>
		</section>

